      canvas {
  width: 100%;
}

@media screen and (min-width: 35em) {
  canvas {
    width: 100%;
  }
  @media screen and (min-width: 48em) {
    canvas {
      width: 100%;
    }
    @media screen and (min-width: 64em) {
      canvas {
        width: 800px;
        height: 600px;
      }