/*
Aufgabe: (Aufgabe 09)
Name: (Dominik Seyfried)
Matrikel: (256734)
Datum: (24.11.2017)
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
/*



div {
	float: left;
}