/*
Aufgabe: (Aufgabe 11)
Name: (Dominik Seyfried)
Matrikel: (256734)
Datum: (24.11.2017)
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
/*


body {
	float: left;
	font-family: "Arial";
	color: black;
	font-size: 1em;
	width: 100%;
	margin-left: 4em;
}

h1 {
	color: #0B610B;
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

input:invalid {
	background: #FA5858;
}

label::after {
	display: block;
}

input {
	margin: 0.5em;
}

button {
	background-color: #0B610B;
	color: white;
    padding: 0.3em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 0.02em;
    cursor: pointer;
}
#daten input {
	display: block;
	height: 10%;
	width: 15%;
}

#zusammenfassung {
	position: fixed;
	right: 0em;
	top: 0em;
	color: white;
	padding: 1em;
	border: dotted 0.3em white;
}

.wk {
	font-size: 1.2em;
}

.stylebody {
	margin: 1em;
} 